.casters {
    /* Font */
    font-size: 30px;
    color: #ccc;
    text-align: right;
    font-family: 'spiegelbold', sans-serif;
    /* Positioning */
    position: absolute;
    bottom: 5px;
    right: 5px;
}
