body {
    margin: 0;
    background: none transparent;
}

#background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;

    z-index: -10;
}

#foreground-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;

    background-image: url("../images/end/foreground.png");

    z-index: 10;
}
