body {
    margin: 0;
    background: none transparent;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
#blue, #red {
    position: absolute;
}

/*** BLUE TEAM ***/
#blue-team-champs {
    position: absolute;
    width: 356px;
    height: 687px;
    margin-top: 175px;
    margin-left: 8px;
}
#blue-team-champs > div {
    position: absolute;
    width: 356px;
    height: 131px;
    margin-bottom: 10px;
}
#blue-team-top {
    top: 0px;
}
#blue-team-jungle {
    top: 139px;
}
#blue-team-mid {
    top: 278px;
}
#blue-team-adc {
    top: 417px;
}
#blue-team-support {
    top: 556px;
}
#blue-team-bans {
    position: absolute;
    width: 356px;
    height: 168px;
    margin-top: 912px;
    margin-left: 8px;
}
#blue-team-bans > div {
    position: absolute;
    width: 116px;
    height: 168px;
}
#blue-team-ban1 {
    left: 0px;
}
#blue-team-ban2 {
    left: 120px;
}
#blue-team-ban3 {
    left: 240px;
}


/*** CENTRE ELEMENTS ***/
#champ-info-img {
    position: absolute;
    width: 763px;
    height: 206px;
    margin-top: 873px;
    margin-left: 783px;
}


/*** RED TEAM ***/
#red-team-champs {
    position: absolute;
    width: 356px;
    height: 687px;
    margin-top: 175px;
    margin-left: 1554px;
}
#red-team-champs > div {
    position: absolute;
    width: 356px;
    height: 131px;
    margin-bottom: 10px;
}
#red-team-top {
    top: 0px;
}
#red-team-jungle {
    top: 139px;
}
#red-team-mid {
    top: 278px;
}
#red-team-adc {
    top: 417px;
}
#red-team-support {
    top: 556px;
}
#red-team-bans {
    position: absolute;
    width: 356px;
    height: 168px;
    margin-top: 912px;
    margin-left: 1554px;
}
#red-team-bans > div {
    position: absolute;
    width: 116px;
    height: 168px;
}
#red-team-ban1 {
    left: 0px;
}
#red-team-ban2 {
    left: 120px;
}
#red-team-ban3 {
    left: 240px;
}
