body {
    margin: 0;
    background: none transparent;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
#blue, #red {
    position: absolute;

    font-family: spiegelcdotregular, sans-serif;
    color: #F8FCFD;
}

/*** BLUE TEAM ***/
#blue-team-info {
    position: absolute;
    width: 881px;
    height: 154px;
    margin-top: 11px;
}
#blue-team-info > div {  position: absolute;  }
#blue-team-score {
    margin-top: 22px;
    margin-left: 9px;
    width: 130px;

    font-family: spiegelcdotsemibold, sans-serif;
    font-size: 120px;
    text-align: center;
}
#blue-team-name {
    margin-top: 23px;
    margin-left: 139px;
    font-size: 80px;
}
#blue-team-form {
    margin-top: 106px;
    margin-left: 139px;
    font-size: 32px;
}
#blue-team-roster {
    position: absolute;
    width: 271px;
    height: 600px;
    margin-top: 270px;
    margin-left: 12px;

    font-size: 30px;
}
#blue-team-roster > div { position: absolute; }
#blue-team-top {
    top: 0px;
}
#blue-team-jungle {
    top: 140px;
}
#blue-team-mid {
    top: 280px;
}
#blue-team-adc {
    top: 420px;
}
#blue-team-support {
    top: 560px;
}
#blue-team-bans {
    position: absolute;
    width: 356px;
    height: 32px;
    margin-top: 1048px;
    margin-left: 8px;

    font-size: 20px;
    text-align: center;
}
#blue-team-bans > div { position: absolute; width: 116px;}
#blue-team-ban1 {
    top: 3px;
    left: 0px;
}
#blue-team-ban2 {
    top: 3px;
    left: 121px;
}
#blue-team-ban3 {
    top: 3px;
    left: 242px;
}


/*** CENTRE ELEMENTS ***/
#champ-info-img {
    position: absolute;
    width: 1173px;
    height: 206px;
    margin-top: 873px;
    margin-left: 373px;
}


/*** RED TEAM ***/
#red-team-info {
    position: absolute;
    width: 797px;
    height: 154px;
    margin-top: 11px;
    margin-left: 1123px;

    text-align: right;
}
#red-team-info > div {  position: absolute;}
#red-team-score {
    margin-top: 22px;
    right: 0px;
    width: 130px;

    font-family: spiegelcdotsemibold, sans-serif;
    font-size: 120px;
    text-align: center;
}
#red-team-name {
    margin-top: 23px;
    width: 667px;
    font-size: 80px;
}
#red-team-form {
    margin-top: 106px;
    width: 667px;
    font-size: 32px;
}
#red-team-roster {
    position: absolute;
    width: 271px;
    height: 600px;
    margin-top: 270px;
    margin-left: 1637px;

    font-size: 30px;
    text-align: right;
}
#red-team-roster > div { position: absolute; width: 268px;}
#red-team-top {
    top: 0px;
}
#red-team-jungle {
    top: 140px;
}
#red-team-mid {
    top: 280px;
}
#red-team-adc {
    top: 420px;
}
#red-team-support {
    top: 560px;
}
#red-team-bans {
    position: absolute;
    width: 356px;
    height: 32px;
    margin-top: 1048px;
    margin-left: 1554px;

    font-size: 20px;
    text-align: center;
}
#red-team-bans > div { position: absolute; width: 116px;}
#red-team-ban1 {
    top: 3px;
    left: 0px;
}
#red-team-ban2 {
    top: 3px;
    left: 121px;
}
#red-team-ban3 {
    top: 3px;
    left: 242px;
}
