body {
    margin: 0;
    background: none transparent;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
#background-img {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 1920px;
    height: 1080px;

    background-image: url("../images/coming-up/background.png");
}
#foreground-img {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 1920px;
    height: 1080px;

    background-image: url("../images/coming-up/foreground.png");
}

#title {
    position: absolute;
    margin-top: 33px;
    margin-left: 0px;
    width: 1920px;
    height: 88px;

    font-size: 92px;
    font-family: octin_sportsregular, sans-serif;
    color: #F8FCFD;
    text-align: center;

    z-index: 10;
}
#timer {
    position: absolute;
    margin-top: 944px;
    margin-left: 737px;
    width: 444px;
    height: 88px;

    font-size: 92px;
    font-family: spiegelcdotsemibold, sans-serif;
    color: #F8FCFD;
    text-align: center;

    z-index: 10;
}

/** MATCH CLASSES **/
.vs {
    float: left;
    position: relative;
    top: 31px;
    margin-left: 71px;
    width: 62px;
    height: 68px;

    font-size: 60px;
    font-family: spiegelcdotsemibold, sans-serif;
    color: #F8FCFD;
    text-align: center;

    z-index: 10;
}
.team-1, .team-2 {
    float: left;
    position: relative;
    top: 28px;
    width: 675px;
    height: 71px;

    font-size: 72px;
    font-family: spiegelcdotregular, sans-serif;
    color: #F8FCFD;

    z-index: 10;
}
.team-1 {
    margin-left: 0px;
    text-align: right;
}
.team-2 {
    margin-left: 64px;
    text-align: left;
}

#inner {
    position: absolute;
    margin-top: 165px;
    margin-left: 0px;
    width: 1920px;
    height: 729px;
}
.game {
    position: relative;
    margin-left: 187px;
    width: 1547px;
    height: 129px;

    background-image: url("../images/coming-up/match-bar.fw.png");

    border: solid #F8FCFD;
    border-width: 2px 0;
}
.info {
    position: relative;
    margin-left: 220px;
    width: 1482px;
    height: 339px;

    background-image: url("../images/coming-up/team-info.png");
}
#game-2-info {
    display: none;
}
#game-3-info {
    display: none;
}
