<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/champ-select-foreground.css">
    <link href='font/custom-fonts.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <div id="blue">
        <div id="blue-team-info">
            <div id="blue-team-score"></div>
            <div id="blue-team-name"></div>
            <div id="blue-team-form"></div>
        </div>
        <div id="blue-team-roster">
            <div id="blue-team-top"></div>
            <div id="blue-team-jungle"></div>
            <div id="blue-team-mid"></div>
            <div id="blue-team-adc"></div>
            <div id="blue-team-support"></div>
        </div>
        <div id="blue-team-bans">
            <div id="blue-team-ban1"></div>
            <div id="blue-team-ban2"></div>
            <div id="blue-team-ban3"></div>
        </div>
    </div>
    <div id="champ-info-img"></div>
    <div id="red">
        <div id="red-team-info">
            <div id="red-team-score"></div>
            <div id="red-team-name"></div>
            <div id="red-team-form"></div>
        </div>
        <div id="red-team-roster">
            <div id="red-team-top"></div>
            <div id="red-team-jungle"></div>
            <div id="red-team-mid"></div>
            <div id="red-team-adc"></div>
            <div id="red-team-support"></div>
        </div>
        <div id="red-team-bans">
            <div id="red-team-ban1"></div>
            <div id="red-team-ban2"></div>
            <div id="red-team-ban3"></div>
        </div>
    </div>
    <div id="middle">
        <div id="casters"></div>
        <div id="poll">
            <div id="poll-title">WHO WILL WIN?</div>
            <div id="poll-url"></div>
            <div id="poll-bar">
                <div id="poll-bar-blue"></div>
                <div id="poll-bar-red"></div>
                <div id="poll-blue-percent">0%</div>
                <div id="poll-red-percent">0%</div>
            </div>
        </div>
    </div>
</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/gsap/src/minified/TweenMax.min.js"></script>
<script src="js/champ-select-foreground.js"></script>
</body>
</html>
