<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
        }

        #container {
            position: absolute;
            top: 0;
            left: 0;
            width: 1920px;
            height: 1080px;
            overflow: hidden;
        }
        .frame {
            position: absolute;
            top: 0;
            border: none;
            width: 1920px;
            height: 1080px;
        }
    </style>
</head>
<body>
<div id="container">
    <iframe src="/view/vespyr/champ-select-background.html?key=" allowtransparency="true" class="frame"></iframe>
    <img src="images/champ-select-background.fw.png" class="frame">
    <img src="images/champ-select-foreground.fw.png" class="frame">
    <iframe src="/view/vespyr/champ-select-foreground.html?key=" allowtransparency="true" class="frame"></iframe>
</div>

<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    for(var i = 0, size = document.getElementsByTagName("iframe").length; i < document.getElementsByTagName("iframe").length; i++) {
        document.getElementsByTagName("iframe")[i].src +=  getParameterByName("key");
    }
</script>
</body>
</html>
