<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/coming-up.css">
    <link href='font/custom-fonts.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <div id="background-img"></div>
    <div id="title">COMING UP</div>
    <div id="timer">00:00:00</div>
    <div id="inner">
        <div id="game-1" class="game" style="margin-top: -1px;">
            <div class="team-1" id="game1-left-name"></div>
            <div class="vs">vs</div>
            <div class="team-2" id="game1-right-name"></div>
        </div>
        <div id="game-1-info" class="info">
            <div class="team-1-info">
                <div class="position" id="game1-left-position"></div>
                <div class="form" id="game1-left-form"></div>
                <div class="roster">
                    <div class="top" id="game1-left-top"></div>
                    <div class="jungle" id="game1-left-jungle"></div>
                    <div class="mid" id="game1-left-mid"></div>
                    <div class="adc" id="game1-left-adc"></div>
                    <div class="support" id="game1-left-support"></div>
                </div>
            </div>
            <div class="team-2-info">
                <div class="position" id="game1-right-position"></div>
                <div class="form" id="game1-right-form"></div>
                <div class="roster">
                    <div class="top" id="game1-right-top"></div>
                    <div class="jungle" id="game1-right-jungle"></div>
                    <div class="mid" id="game1-right-mid"></div>
                    <div class="adc" id="game1-right-adc"></div>
                    <div class="support" id="game1-right-support"></div>
                </div>
            </div>
        </div>
        <div id="game-2" class="game">
            <div class="team-1" id="game2-left-name"></div>
            <div class="vs">vs</div>
            <div class="team-2" id="game2-right-name"></div>
        </div>
        <div id="game-2-info" class="info">
            <div class="team-1-info">
                <div class="position" id="game2-left-position"></div>
                <div class="form" id="game2-left-form"></div>
                <div class="roster">
                    <div class="top" id="game2-left-top"></div>
                    <div class="jungle" id="game2-left-jungle"></div>
                    <div class="mid" id="game2-left-mid"></div>
                    <div class="adc" id="game2-left-adc"></div>
                    <div class="support" id="game2-left-support"></div>
                </div>
            </div>
            <div class="team-2-info">
                <div class="position" id="game2-right-position"></div>
                <div class="form" id="game2-right-form"></div>
                <div class="roster">
                    <div class="top" id="game2-right-top"></div>
                    <div class="jungle" id="game2-right-jungle"></div>
                    <div class="mid" id="game2-right-mid"></div>
                    <div class="adc" id="game2-right-adc"></div>
                    <div class="support" id="game2-right-support"></div>
                </div>
            </div>
        </div>
        <div id="game-3" class="game">
            <div class="team-1" id="game3-left-name"></div>
            <div class="vs">vs</div>
            <div class="team-2" id="game3-right-name"></div>
        </div>
        <div id="game-3-info" class="info">
            <div class="team-1-info">
                <div class="position" id="game3-left-position"></div>
                <div class="form" id="game3-left-form"></div>
                <div class="roster">
                    <div class="top" id="game3-left-top"></div>
                    <div class="jungle" id="game3-left-jungle"></div>
                    <div class="mid" id="game3-left-mid"></div>
                    <div class="adc" id="game3-left-adc"></div>
                    <div class="support" id="game3-left-support"></div>
                </div>
            </div>
            <div class="team-2-info">
                <div class="position" id="game3-right-position"></div>
                <div class="form" id="game3-right-form"></div>
                <div class="roster">
                    <div class="top" id="game3-right-top"></div>
                    <div class="jungle" id="game3-right-jungle"></div>
                    <div class="mid" id="game3-right-mid"></div>
                    <div class="adc" id="game3-right-adc"></div>
                    <div class="support" id="game3-right-support"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="foreground-img"></div>
</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/gsap/src/minified/TweenMax.min.js"></script>
<script src="/dashboard/vespyr/components/jquery.countdown/dist/jquery.countdown.min.js"></script>
<script src="js/coming-up.js"></script>
</body>
</html>
