<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/coming-up.css">
    <link href='font/custom-fonts.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <div id="background-img"></div>
    <div id="title">COMING UP</div>
    <div id="timer">00:25:38</div>
    <div id="inner">
        <div id="game-1" class="game" style="margin-top: -1px;">
            <div class="team-1">LA Renegades</div>
            <div class="vs">vs</div>
            <div class="team-2">Team Impulse</div>
        </div>
        <div id="game-1-info" class="info"></div>
        <div id="game-2" class="game">
            <div class="team-1">Echo Fox</div>
            <div class="vs">vs</div>
            <div class="team-2">Team Liquid</div>
        </div>
        <div id="game-2-info" class="info"></div>
        <div id="game-3" class="game">
            <div class="team-1">NRG Esports</div>
            <div class="vs">vs</div>
            <div class="team-2">Immortals</div>
        </div>
        <div id="game-3-info" class="info"></div>
    </div>
    <div id="foreground-img"></div>
</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/gsap/src/minified/TweenMax.min.js"></script>
<script src="/dashboard/vespyr/components/jquery.countdown/dist/jquery.countdown.min.js"></script>
<script src="js/coming-up.js"></script>
</body>
</html>
