<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/in-game.css">
    <link href='font/custom-fonts.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <div id="score">
        <div id="blue-score">
            <div id="blue-score-text"></div>
        </div>
        <div id="red-score">
            <div id="red-score-text"></div>
        </div>
    </div>
    <div id="bottom-left"></div>
    <div id="bottom-center">
        <div id="bottom-center-left-text-upper"></div>
        <div id="bottom-center-left-text-lower"></div>
        <div id="bottom-center-right-text"></div>
    </div>
</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/gsap/src/minified/TweenMax.min.js"></script>
<script src="js/in-game.js"></script>
</body>
</html>
